<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting type="lsep" label="General Settings" />
    	<setting id="AutoStart" type="bool" label="Automatically start xbTwitter with XBMC" default="false"/>
	<setting id="Username" type="text" label="Twitter Username" default=""/>
	<setting id="OAuth" type="bool" label="Use OAuth" default="true"/>
	<setting id="Password" type="text" option = "hidden" visible= "eq(-2,false)" enable="eq(-2,false)" label="Twitter Password" default=""/>
	<setting id="RefreshInterval" type="enum" label="Refresh Timeline Every (min.)" values="5|10|15|20|25|30" default="2"/>

    	<setting type="lsep" label="Automatic Tweeting" />
    	<setting id="AutoTweetTVShow" type="bool" label="Automatically Tweet TV Shows I'm Watching" default="true"/>
    	<setting id="AutoTweetMovie" type="bool" label="Automatically Tweet Movies I'm Watching" default="true"/>
    	<setting id="AutoTweetMusic" type="bool" label="Automatically Tweet Music I'm Listening To" default="true"/>

	<setting id="CustomTweet" type="bool" label="Customize Automatic Tweets" default="false"/>
	<setting id="TVShowTweet" type="text"  visible= "eq(-1,true)" enable="eq(-1,true)" label="TV Shows Tweet																	" default="Watching %SHOWNAME%, Episode: %EPISODENAME% on #xbmc #xbtweet"/>
	<setting id="MovieTweet" type="text"  visible= "eq(-2,true)" enable="eq(-2,true)" label="Movies Tweet" default="Watching %MOVIETITLE% (%MOVIEYEAR%) on #xbmc #xbtweet"/>
	<setting id="MusicTweet" type="text"  visible= "eq(-3,true)" enable="eq(-3,true)" label="Music Tweet																				" default="Listening to %ARTISTNAME% performing %SONGTITLE% from %ALBUMTITLE% on #xbmc #xbtweet"/>

    	<setting type="lsep" label="Misc Settings" />
    	<setting id="debug" type="bool" label="Enable Debug Log" default="false"/>
    	<setting id="new_ver" type="bool" label="Auto check for newer version" default="false"/>
</settings>
